@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Passero+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --font-title: 'Passero One';
    --font-body: 'Inter';
    --font-sub: 'Inter';
    --font-button:'ABeeZee';
    --destak-color: #FFF1DB;
    --white: #cfcfcf;
    --black: #000;
}

html {
    scroll-behavior: smooth;
}

body{
    position: relative;
}

.principal{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-start;
    padding: 0 0 0 0;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.principal::before{
    content: '';
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1 ;
    background: url("../images/Background.png"), lightgray 50% / cover no-repeat;
    background-size: cover ;
    animation: zoom 8s forwards;

}

.principal__conteudo {
    display: flex;
    margin-top: 33px;
    padding: 0 130px;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: fit-content;
    border-radius: 99px;
    background: rgba(37, 11, 11, 0.47);

}

.principal__conteudo__titulo{
    background: linear-gradient(180deg, #CE5A06 0%, #7C3E10 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-title);
    font-size: 8rem;
    font-weight: 400;
}

.principal__conteudo__subtitulo{
    text-align: center;
    background: linear-gradient(180deg, #F1AB6A 0%, #8B633D 123.08%);
    background-clip: text;
    font-family: var(--font-sub);
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 600;
}

.principal__botao{
    display: flex;
    align-self: center;

    width: 175px;
    padding: .25rem 1rem;
    gap: 10px;

    background: linear-gradient(180deg, #FF7A00 0%, #553518 100%);
    color: black;
    border-radius: 0.3rem;

    transition: opacity .7s;

    font-family: var(--font-button);
    font-size: 25px;
    font-weight: 400;
    
}

.principal__botao:hover{
    opacity: .8;
}

.apresentacao {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 2rem;

    background: linear-gradient(0deg, #71370D 0%, #4A2E14 101.56%);
}

.apresentacao__titulo {
    color: white;
    
    font-family: "Kadwa";
    font-size: 48px ;
    font-weight: 700;

}

img#tabaco {
    width: 20%;
    height: 20%;
    border-radius: 35px;
}



@keyframes zoom{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.5);
    }

}
  

